<div class="d-flex flex-column">
  <h1 class="text-center mb-4">Cartões disponíveis</h1>
  <ul class="list-group list-group-horizontal justify-content-center">
    <li class="list-group-item border-0 bg-transparent" *ngFor="let card of cards">
      <app-card-game #card width="400px" height="550px" [altText]="card.altImageText" [frontImage]="card.imagePath"
        [title]="card.title" [description]="card.description" [hideDescription]="true" [canRotate]="false"
        [canZoom]="true" (click)="navigate(card)"></app-card-game>
    </li>
  </ul>
</div>
