/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: "BellySansCondensed";
  src: local("BellySansCondensed"),
    url(./assets/fonts/BellySansCondensed.ttf) format("truetype");
}

h1, h2, h3, h4 {
  font-family: "BellySansCondensed", Arial, Helvetica, sans-serif;
}
